
@{
	ViewBag.Title = "Cart";
	Layout = "~/views/Shared/_Layout.cshtml";
}

<div style="top: 100px;position: relative;">Cart</div>

<script type="text/javascript">
	$(document).ready(function () {
		SetActivePage("Cart");
	});
</script>
