
@{
	ViewBag.Title = "Index";
	Layout = "~/views/Shared/_Layout.cshtml";
}

<div style="top: 100px;position: relative;"><input type="submit" name="btSubmit" value="Go to Cart Page" /></div>

<script src="~/Scripts/vendor/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/site.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		SetActivePage("Browse");
	});
</script>