
@{
	ViewBag.Title = "OrderHistory";
	Layout = "~/views/Home/_Layout.cshtml";
}


<div style="top: 100px;position: relative;">OrderHistory</div>

<script type="text/javascript">
	$(document).ready(function () {
		SetActivePage("OrderHistory");
	});
</script>