/* Bootstrap Overrides */
.nav li {
    display: inline-block;
}

/* Logo Classes */
div.logo-text {
    line-height: 50px;
    font-family: Calibri;
    font-size: 40pt;
    font-style: normal;
    font-weight: 900;
}

div.logo-game {
    color: limegreen;
    padding-left: 5px;
    width: 100%;
}

.logo-game-background {
    border-radius: 10px 0px 0px 10px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    overflow: hidden;
}

div.logo-on {
    color: white;
}

.logo-on-background {
    border-radius: 0px 20px 20px 0px;
    background-color: limegreen;
    padding-left: 5px;
    padding-right: 12px;
    float: left;
}