

.nav-button {
    font-weight: 500;
    color: black;
    font-size: 12pt;
    text-align: center;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    font-family: Verdana;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    
}

.NavTab {
	border-style: solid solid none solid;
	border-width: 1px 1px 0px 1px;
	border-radius: 11px 11px 0px 0px;
	background-color: #E2E4DC;
	border-color: #E2E4DC;
	text-align: center;
}

.NavTD {
	font-weight: 500;
	color: black;
	font-size: 12pt;
	text-align: center;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	font-family: Verdana;
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
}
