
@{
	ViewBag.Title = "Browse";
	Layout = "~/Views/GameOn/_Layout.cshtml";
}

<div style="top: 100px;position: relative;"><input type="submit" name="btSubmit" value="Go to Cart Page" /></div>

<script type="text/javascript">
	$(document).ready(function () {
		SetActivePage("Browse");
	});
</script>