
@{
	ViewBag.Title = "OrderHistory";
	Layout = "~/Views/GameOn/_Layout.cshtml";
}


<div style="top: 100px;position: relative;">OrderHistory</div>

<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/ScriptsCustom/Custom.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		SetActivePage("OrderHistory");
	});
</script>