<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <script language="javascript" type="text/javascript" src="~/Scripts/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/vendor/bootstrap/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="~/Content/vendor/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Content/vendor/bootstrap-grid.min.css"/>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            Navigation Row
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @RenderBody()
        </div>
    </div>
</div>
</body>
</html>