<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script language="javascript" type="text/javascript" src="~/Scripts/vendor/jquery/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
