<nav class="navbar navbar-expand-lg navbar-light">
    <div class="row no-gutters">
        <div class="col-md">
            <a class="navbar-brand" href="#">
                <div class="navbar-text">
                    <div class="logo-text logo-game logo-game-background">Game</div>
                </div>
                <div class="navbar-text">
                    <div class="logo-text logo-on logo-on-background">On</div>
                </div>
            </a>
        </div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                @Html.ActionLink("Browse", "Index", "Home", null, new {@class = "nav-link"})
            </li>
            <li class="nav-item">
                <a href="/Cart" class="nav-link">Cart
                    <span id="CartCount"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Order History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Account Info</a>
            </li>
        </ul>
    </div>
</nav>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var itemCount = JSON.parse(Cookies('cart')).length;
        if (itemCount > 0)
            $('#CartCount').text('(' + itemCount + ')');
        else
            $('#CartCount').text('');
    })
</script>